<section class="ui rasied segment">
  <h1 class="ui headder">
    Weather Dashboard
  </h1>
  <form class="ui stacked segment form" action="/dashboard/addreport" method="POST">
    <div class="two fields">
      <div class="field">
        <label>Latitude</label> <input placeholder="00.00" type="text" name="lat">
      </div>
      <div class="field">
        <label>Longitude</label> <input placeholder="00.00" type="text" name="lng">
      </div>
    </div>
    <button class="ui blue submit button">Add Report</button>
  </form>
</section>