{{> menu id="dashboard"}}

<section class="ui segment">
  {{> mainpanel}}
  {{> reading-tables}}

  {{!-- Chart segment --}}
  <div class="ui segment" id="chart"></div>

  {{!-- Script segment --}}
  <script>
  const data = {
    labels: [
      {{#each reading.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature", type: "line",
        values: [
          {{#each reading.tempTrend}}
            {{this}},
          {{/each}}
        ]
      }
    ]
  }

  const chart = new frappe.Chart("#chart", {
    title: "Temperature Trend",
    data: data,
    type: 'line',
    height: 250,
  })
</script>
</section>